html
	head
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
		<script src="https://js.stripe.com/v3/"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
		title Stripe
		style
			include ../css/default.css
			block css
	body
		nav(class='navbar nav')
		div(class='container')
			block content